@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  transition: all 0.2s linear;
}

*::-moz-selection {
  background: #3f50cc;
  color: #fff;
}

*::selection {
  background: #3f50cc;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.btn {
  font-size: 2rem;
  padding: 0.7rem 2rem;
  color: #fff;
  background: #3f50cc;
  cursor: pointer;
  margin-top: 1rem;
  border: none;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}
.btn:hover {
  opacity: 0.8;
  box-shadow: none;
  transform: scale(1.02);
}

.heading {
  text-align: center;
  padding: 1rem;
  padding-top: 6.5rem;
}
.heading span {
  display: inline-block;
  font-size: 2.5rem;
  padding: 0.5rem 7rem;
  color: #444;
  background: #fff;
  border: 0.2rem solid #3f50cc;
  border-left-width: 1rem;
  border-right-width: 1rem;
}
.heading:hover {
  transform: scale(1.02);
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2rem;
  background: #444;
  z-index: 1000;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
header .logo {
  background: #fff;
  color: #444;
  font-size: 2.5rem;
  padding: 1rem 4rem;
}
header .logo i {
  padding: 0 0.5rem;
  color: #3f50cc;
}
header .logo:hover {
  transform: scale(1.02);
}
header #menu {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header .navbar ul li a {
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem 2rem;
  margin-left: 1rem;
}
header .navbar ul li a:hover {
  color: #444;
  background: #fff;
}
header .navbar ul li a.active {
  color: #444;
  background: #fff;
}
header .navbar ul li:hover {
  transform: scale(1.02);
}

#share {
  position: fixed;
  top: 50%;
  right: -30rem;
  display: flex;
  transform: translateY(-50%);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  z-index: 100;
}
#share i {
  background: #444;
  color: #fff;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
}
#share i:hover {
  background: #222;
}
#share a {
  font-size: 2rem;
  background: #fff;
  color: #3f50cc;
  padding: 1.5rem 2rem;
  cursor: pointer;
  border-left: 0.1rem solid #444;
}
#share a:hover {
  background: #3f50cc;
  color: #fff;
  transform: scale(1.02);
}

#share.share-active {
  right: 0;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem 2rem;
  padding-top: 6rem;
  background: url("./images/space.webp") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.home .content {
  width: 45vw;
}
.home .content h1 {
  font-size: 5rem;
  color: #444;
}
.home .content p {
  font-size: 1.8rem;
  color: #444;
  padding: 1rem 0;
}
.home .content .buttons a:nth-child(2) .btn {
  background: #444;
  margin-left: 1rem;
}

.feature {
  min-height: 100vh;
}
.feature .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.feature .box-container .box {
  width: 30rem;
  text-align: center;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin: 2rem;
  cursor: pointer;
}
.feature .box-container .box i {
  color: #3f50cc;
  font-size: 5rem;
  padding: 2rem 0;
}
.feature .box-container .box h3 {
  font-size: 2rem;
  color: #444;
}
.feature .box-container .box p {
  font-size: 1.2rem;
  color: #666;
  padding: 1rem;
}
.feature .box-container .box:hover {
  background: #444;
  color: #fff;
  transform: scale(1.02);
}
.feature .box-container .box:hover i {
  color: #fff;
}
.feature .box-container .box:hover h3 {
  color: #fff;
}
.feature .box-container .box:hover p {
  color: #fff;
}

.screenshot .screen-slider {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto;
}
.screenshot .screen-slider .item {
  margin: 0 auto 1rem auto;
  width: 30rem;
}
.screenshot .screen-slider .item img {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.screenshot .screen-slider .item img:hover {
  transform: scale(1.02);
}

.review {
  min-height: 100vh;
}
.review .review-slider {
  margin: 2rem auto;
  width: 80%;
}
.review .review-slider .box {
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.review .review-slider .box img {
  height: 10rem;
  width: 10rem;
  margin: 1rem auto;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review .review-slider .box h3 {
  font-size: 2rem;
  color: #444;
}
.review .review-slider .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 2rem;
}
.review .review-slider .box .stars i {
  color: #3f50cc;
  font-size: 1.5rem;
}
.review .review-slider .box:hover {
  transform: scale(1.02);
}

.plan {
  min-height: 100vh;
  background: #eee;
}
.plan .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.plan .box-container .box {
  width: 30rem;
  text-align: center;
  background: #fff;
  margin: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.plan .box-container .box .title {
  background: #3f50cc;
  font-size: 2.7rem;
  color: #fff;
  padding: 1rem 0;
}
.plan .box-container .box .price {
  color: #444;
  font-size: 3.5rem;
  padding: 1.5rem 0;
}
.plan .box-container .box .price span {
  font-size: 2rem;
}
.plan .box-container .box ul {
  text-align: left;
  list-style: none;
  padding: 1rem 0;
  padding-left: 8rem;
}
.plan .box-container .box ul li {
  font-size: 1.5rem;
  color: #666;
  padding: 0.5rem 0;
}
.plan .box-container .box ul li .fa-check {
  color: lime;
  padding: 0 0.3rem;
}
.plan .box-container .box ul li .fa-xmark {
  color: tomato;
  padding: 0 0.3rem;
}
.plan .box-container .box .btn {
  margin-bottom: 3rem;
}
.plan .box-container .box:hover {
  transform: scale(1.02);
}

.download {
  min-height: 100vh;
  background: #222;
}
.download .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.download .box-container .box {
  margin: 2rem;
  width: 35rem;
  text-align: center;
  background: #333;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 0.3rem 0.5rem #000;
}
.download .box-container .box i {
  color: #fff;
  font-size: 5rem;
  padding: 2rem 0;
}
.download .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
}
.download .box-container .box p {
  color: #eee;
  font-size: 1.4rem;
  padding: 2rem;
}
.download .box-container .box:hover {
  transform: scale(1.02);
}

.footer {
  background: #eee;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  margin: 2rem;
  flex: 1 1 30rem;
}
.footer .box-container .box h3 {
  color: #3f50cc;
  font-size: 2.5rem;
}
.footer .box-container .box p {
  color: #333;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.footer .box-container .box a {
  display: block;
  color: #333;
  font-size: 1.8rem;
  padding: 0.5rem 0;
}
.footer .box-container .box a:hover {
  text-decoration: underline;
}
.footer .box-container .box form {
  display: flex;
  width: 100%;
}
.footer .box-container .box form input {
  height: 4.5rem;
  width: 100%;
  padding: 0 1rem;
  color: #333;
  border: none;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}
.footer .box-container .box form button {
  height: 4.5rem;
  width: 6rem;
  background: #3f50cc;
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  font-size: 1.7rem;
  text-align: center;
}
.footer .box-container .box form button:hover {
  background: #333;
}
.footer .box-container .box:nth-child(2) {
  text-align: center;
}
.footer .credit {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 2rem;
  background: #444;
  color: #ccc;
}
.footer .credit a {
  color: #fff;
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 5.3rem;
    right: -120%;
    height: 100vh;
    background: #222;
    z-index: 1000;
    width: 35rem;
  }
  header .navbar ul {
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }
  header .navbar ul li a {
    display: block;
    font-size: 2.5rem;
    border: 0.2rem solid #fff;
    margin: 1rem 0;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
@media (max-width: 768px) {
  .home {
    flex-flow: column-reverse;
  }
  .home .content {
    padding: 2rem 0;
    width: auto;
  }
  .home .content h1 {
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  header .navbar {
    width: 100vw;
  }
  .home .image img {
    width: 90vw;
  }
  .screen-slider {
    width: 90%;
  }
  .review .review-slider {
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */